body {
    background: url("../images/Black-and-White-Cinema-Backgrounds.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.logo {
    margin-top: 50px;
    font-family: 'Black Ops One', cursive;
    color: darkgreen;
    font-size: 100px;
    text-shadow: 2px 2px 6px #ffffff;
}

.card {
    background-color: black;
    color: white;
    border: 5px solid silver;
    margin: 50px;
    padding: 30px;
}

p {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 6px black;
}

.btn {
    background-color:darkgreen;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.fa-thumbs-up {
    color: yellow;
}

.fa-thumbs-down {
    color: gray;
}

label {
    margin-right: 10px;
}

table {
    overflow: auto;
}

#results-btn {
    background-color: lightgray;
}